__pycache__
.ipynb_checkpoints
*.png
*.db
nct
*.csv
*.tex
*.RRF
smaller
output
create_reference_set/unique_entries.txt
create_reference_set/reference_set.txt
raw_reference_set.txt
multi_rct_reference_set.txt
